<?xml version="1.0" encoding="UTF-8"?>
<plugin 
	xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android" id="ch.aimservices.cordova.plugins.sense" version="1.0.6">
	<name>Sense-Connector</name>
	<description>Connector between Cordova applications and Sysmosoft's Sense Framework</description>
	<author>Pavel Blanco</author>
	<keywords>cordova,sense</keywords>
	<engines>
		<engine name="cordova" version=">=3.0.0" />
		<engine name="cordova" version="&lt;4.0.0" />
	</engines>
	<js-module src="www/sense.js" name="Sense">
		<clobbers target="Sense" />
	</js-module>
	<!-- Android -->
	<platform name="android">
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.BLUETOOTH" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<!-- Services -->
			<service android:name="ch.sysmosoft.sense.android.core.service.SenseSessionService" android:exported="false">
				<!-- SDK version -->
				<meta-data android:name="ch.sysmosoft.sense.android.sdk.version" android:value="3.17.0-SNAPSHOT" />
			</service>
			<activity android:name="ch.aimservices.android.plugin.SenseConnector" android:label="@string/app_name">
				<intent-filter>
					<action android:name="android.intent.action.VIEW" />
					<category android:name="android.intent.category.DEFAULT" />
				</intent-filter>
			</activity>
		</config-file>
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="SenseConnector">
				<param name="android-package" value="ch.aimservices.android.plugin.SenseConnector" />
				<param name="onload" value="true" />
			</feature>
			<feature name="Console">
				<param name="android-package" value="ch.aimservices.android.plugin.Console" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<js-module src="www/console-via-logger.js" name="console">
			<clobbers target="console" />
		</js-module>
		<js-module src="www/logger.js" name="logger">
			<clobbers target="cordova.logger" />
		</js-module>
		<!-- Java sources -->
		<source-file src="src/android/java/ch/aimservices/android/plugin/SenseConnector.java" target-dir="src/ch/aimservices/android/plugin" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/Console.java" target-dir="src/ch/aimservices/android/plugin/" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/SenseServicesContext.java" target-dir="src/ch/aimservices/android/plugin" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/action/Action.java" target-dir="src/ch/aimservices/android/plugin/action" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/action/BaseAction.java" target-dir="src/ch/aimservices/android/plugin/action" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/action/ExitAppAction.java" target-dir="src/ch/aimservices/android/plugin/action" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/action/InitializeAction.java" target-dir="src/ch/aimservices/android/plugin/action" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/action/LoginErrorHandler.java" target-dir="src/ch/aimservices/android/plugin/action" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/action/TerminateAction.java" target-dir="src/ch/aimservices/android/plugin/action" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/action/UpdateAppAction.java" target-dir="src/ch/aimservices/android/plugin/action" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/action/filesystem/AbstractFileSystemAction.java" target-dir="src/ch/aimservices/android/plugin/action/filesystem/" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/action/filesystem/CreateItemAction.java" target-dir="src/ch/aimservices/android/plugin/action/filesystem" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/action/filesystem/GetItemAction.java" target-dir="src/ch/aimservices/android/plugin/action/filesystem" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/action/filesystem/ItemExistAction.java" target-dir="src/ch/aimservices/android/plugin/action/filesystem" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/action/filesystem/MoveItemAction.java" target-dir="src/ch/aimservices/android/plugin/action/filesystem" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/action/filesystem/RemoveItemAction.java" target-dir="src/ch/aimservices/android/plugin/action/filesystem" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/action/session/AbstractSessionAction.java" target-dir="src/ch/aimservices/android/plugin/action/session" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/action/session/ChangePwdAction.java" target-dir="src/ch/aimservices/android/plugin/action/session" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/action/session/EnrollAction.java" target-dir="src/ch/aimservices/android/plugin/action/session" />
		<source-file src="src/android/java/ch/aimservices/android/plugin/action/session/LoginAction.java" target-dir="src/ch/aimservices/android/plugin/action/session" />
		<source-file src="src/android/java/ch/aimservices/android/proxy/BaseProxyConfigurator.java" target-dir="src/ch/aimservices/android/proxy" />
		<source-file src="src/android/java/ch/aimservices/android/proxy/ConfiguratorRegistry.java" target-dir="src/ch/aimservices/android/proxy" />
		<source-file src="src/android/java/ch/aimservices/android/proxy/ProxyConfigurator.java" target-dir="src/ch/aimservices/android/proxy" />
		<source-file src="src/android/java/ch/aimservices/android/proxy/impl/IceCreamSandwichConfigurator.java" target-dir="src/ch/aimservices/android/proxy/impl" />
		<source-file src="src/android/java/ch/aimservices/android/proxy/impl/JellyBeanConfigurator.java" target-dir="src/ch/aimservices/android/proxy/impl" />
		<source-file src="src/android/java/ch/aimservices/android/proxy/impl/KitKatConfigurator.java" target-dir="src/ch/aimservices/android/proxy/impl" />
		<source-file src="src/android/java/ch/aimservices/android/proxy/impl/LConfigurator.java" target-dir="src/ch/aimservices/android/proxy/impl" />
		<source-file src="src/android/java/ch/aimservices/android/reflection/Reflections.java" target-dir="src/ch/aimservices/android/reflection" />
		<!-- so Libs -->
		<resource-file src="src/android/libs/armeabi/libsqlcipher.so" target="libs/armeabi/libsqlcipher.so" />
		<resource-file src="src/android/libs/armeabi-v7a/libsqlcipher.so" target="libs/armeabi-v7a/libsqlcipher.so" />
		<resource-file src="src/android/libs/x86/libsqlcipher.so" target="libs/x86/libsqlcipher.so" />
		<!-- Plugin's libraries -->
		<resource-file src="src/android/libs/commons-io-2.4.jar" target="libs/commons-io-2.4.jar" />
		<!-- Sense SDK jars -->
		<resource-file src="src/android/libs/sense-sdk-android-sdk-3.17.0-SNAPSHOT.jar" target="libs/sense-sdk-android-sdk-3.17.0-SNAPSHOT.jar" />
		<resource-file src="src/android/libs/android-database-sqlcipher-3.5.3.jar" target="libs/android-database-sqlcipher-3.5.3.jar" />
		<resource-file src="src/android/libs/slf4j-api-1.7.25.jar" target="libs/slf4j-api-1.7.25.jar" />
		<!-- Properties -->
		<resource-file src="src/android/assets/sense-config.properties" target="assets/sense-config.properties" />
	</platform>
	<!-- iOS -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="SenseConnector">
				<param name="ios-package" value="SenseConnector" />
				<param name="onload" value="true" />
			</feature>
			<feature name="Console">
				<param name="ios-package" value="CDVLogger"/>
			</feature>
		</config-file>
		<js-module src="www/console-via-logger.js" name="console">
			<clobbers target="console" />
		</js-module>
		<js-module src="www/logger.js" name="logger">
			<clobbers target="cordova.logger" />
		</js-module>
		<framework src="libz.dylib" />
		<framework src="libxml2.dylib" />
		<framework src="libc++.dylib" />
		<framework src="CoreData.framework" />
		<framework src="SystemConfiguration.framework" />
		<framework src="Security.framework" />
		<framework src="CFNetwork.framework" />
		<framework src="CoreLocation.framework" />
		<framework src="WebKit.framework" />
		<framework src="src/ios/sense.framework" custom="true" />
		<header-file src="src/ios/SenseConnector.h" />
		<source-file src="src/ios/SenseConnector.m" />
		<resource-file src="src/ios/sense-config.properties" />
		<header-file src="src/ios/CDVLogger.h" />
		<source-file src="src/ios/CDVLogger.m" />
	</platform>
</plugin>